{% extends 'base.html.twig' %}

{% block body %}
	<div class="container" style="width:500px;">
		<div class="row">
			<h1 class="h3 mb-3 font-weight-normal text-center" style="margin:20px 0;">Modifiez produit</h1>
			<div class="card-body">
				{{ form(form_produits)}}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
