{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<h1 class="text-center">Ajouter produit</h1>
			<div class="card-body">
				{{ form(form_produits)}}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
